.secOne{
    margin: 2rem;
    /*display: flex;*/
    /*justify-content: center;*/
    border: 2px solid black;
    /*flex-direction: row-reverse;*/
}

.title{
    display: inline-block;
}

.description{
    border: 2px solid red;
    margin-left: 1rem;
    /*display: flex;*/
    /*justify-content: center;*/
}

.thisTwo{
    display: flex;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.delete{
    display: flex;
    justify-content: flex-end;
}

.holder{
    display: flex;
    justify-content: center;
}